*{
  margin: 0;
  padding: 0;
 
}
div fieldset{
  text-align: center;
  
  
  
}
 fieldset{
  width: 300px;
  height: 573px;
  text-align: center;
  border: 0.5px solid gray;
  background-color: rgb(241, 183, 183);
 }
 div{
  margin-left: 33%;
 }
 img{
  margin-left: 7%;
 }
 legend{
  border: 2px solid red;
  background-color: red;
  color: white;
  width: 200px;
  height: 40px;
  font-size: 20px;
  border-radius: 10px;
 }
 button{
  width: 80px;
  height: 30px;
  border : 3px solid white ;
  border-radius: 9px;
  background-color: red;
  color: white;

  
 }